In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2020-08-23 15:08:22,64.38,-173.30,49.68,92,96,4.32
1,1,Kapaa,US,2020-08-23 15:08:22,22.08,-159.32,78.80,88,90,9.17
2,2,Georgetown,MY,2020-08-23 15:04:32,5.41,100.34,84.20,88,40,5.82
3,3,New Norfolk,AU,2020-08-23 15:08:23,-42.78,147.06,41.00,85,7,1.01
4,4,Cherskiy,RU,2020-08-23 15:08:24,68.75,161.30,38.03,94,100,16.28

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2020-08-23 15:08:22,22.08,-159.32,78.80,88,90,9.17
2,2,Georgetown,MY,2020-08-23 15:04:32,5.41,100.34,84.20,88,40,5.82
8,8,Bethel,US,2020-08-23 15:08:26,41.37,-73.41,82.99,69,1,3.96
9,9,Wajir,KE,2020-08-23 15:08:27,1.75,40.06,89.60,43,75,8.05
11,11,Ponta Do Sol,PT,2020-08-23 15:08:27,32.67,-17.10,84.20,32,20,20.80
13,13,Faanui,PF,2020-08-23 15:08:28,-16.48,-151.75,76.23,76,0,19.86
15,15,Bereda,ES,2020-08-23 15:08:29,43.27,-7.54,78.01,62,46,11.99
16,16,Aitape,PG,2020-08-23 15:08:30,-3.14,142.35,77.70,83,29,3.87
26,26,Pandan,PH,2020-08-23 15:08:34,14.05,124.17,81.28,81,100,5.32
27,27,Excelsior Springs,US,2020-08-23 15:08:34,39.34,-94.23,80.01,73,1,9.26

In [10]:
preferred_cities_df = preferred_cities_df.dropna()

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp    Lat     Lng Hotel Name
1               Kapaa      US     78.80  22.08 -159.32
2          Georgetown      MY     84.20   5.41  100.34
8              Bethel      US     82.99  41.37  -73.41
9               Wajir      KE     89.60   1.75   40.06
11       Ponta Do Sol      PT     84.20  32.67  -17.10
13             Faanui      PF     76.23 -16.48 -151.75
15             Bereda      ES     78.01  43.27   -7.54
16             Aitape      PG     77.70  -3.14  142.35
26             Pandan      PH     81.28  14.05  124.17
27  Excelsior Springs      US     80.01  39.34  -94.23

In [13]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,Georgetown,MY,84.20,5.41,100.34,Cititel Penang
8,Bethel,US,82.99,41.37,-73.41,Courtyard by Marriott Danbury
9,Wajir,KE,89.60,1.75,40.06,Al- Amin lodge
11,Ponta Do Sol,PT,84.20,32.67,-17.10,Hotel do Campo
...,...,...,...,...,...,...
528,Mitu,CO,81.19,1.20,-70.17,
530,Markala,ML,88.12,13.70,-6.07,Yaya Hôtel
531,Novi Ligure,IT,88.00,44.76,8.79,Relais Villa Pomela
535,Marang,MY,82.40,5.21,103.21,DBarakah Homestay
540,Balkanabat,TM,83.32,39.51,54.37,Nebitchi Hotel

In [24]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))