In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2020-08-23 15:08:22,64.38,-173.30,49.68,92,96,4.32
1,1,Kapaa,US,2020-08-23 15:08:22,22.08,-159.32,78.80,88,90,9.17
2,2,Georgetown,MY,2020-08-23 15:04:32,5.41,100.34,84.20,88,40,5.82
3,3,New Norfolk,AU,2020-08-23 15:08:23,-42.78,147.06,41.00,85,7,1.01
4,4,Cherskiy,RU,2020-08-23 15:08:24,68.75,161.30,38.03,94,100,16.28

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [24]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [33]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. Remove negative max temps.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2020-08-23 15:08:22,22.08,-159.32,78.80,88,90,9.17
2,2,Georgetown,MY,2020-08-23 15:04:32,5.41,100.34,84.20,88,40,5.82
8,8,Bethel,US,2020-08-23 15:08:26,41.37,-73.41,82.99,69,1,3.96
9,9,Wajir,KE,2020-08-23 15:08:27,1.75,40.06,89.60,43,75,8.05
11,11,Ponta Do Sol,PT,2020-08-23 15:08:27,32.67,-17.10,84.20,32,20,20.80
13,13,Faanui,PF,2020-08-23 15:08:28,-16.48,-151.75,76.23,76,0,19.86
15,15,Bereda,ES,2020-08-23 15:08:29,43.27,-7.54,78.01,62,46,11.99
16,16,Aitape,PG,2020-08-23 15:08:30,-3.14,142.35,77.70,83,29,3.87
26,26,Pandan,PH,2020-08-23 15:08:34,14.05,124.17,81.28,81,100,5.32
27,27,Excelsior Springs,US,2020-08-23 15:08:34,39.34,-94.23,80.01,73,1,9.26

In [44]:
preferred_cities_df.isnull()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
528,False,False,False,False,False,False,False,False,False,False
530,False,False,False,False,False,False,False,False,False,False
531,False,False,False,False,False,False,False,False,False,False
535,False,False,False,False,False,False,False,False,False,False
540,False,False,False,False,False,False,False,False,False,False

In [46]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [48]:
preferred_cities_df.notnull().sum()

City_ID       224
City          224
Country       222
Date          224
Lat           224
Lng           224
Max Temp      224
Humidity      224
Cloudiness    224
Wind Speed    224
dtype: int64

In [57]:
preferred_cities_df = preferred_cities_df.dropna()

In [58]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [59]:
preferred_cities_df.notnull().sum()

City_ID       222
City          222
Country       222
Date          222
Lat           222
Lng           222
Max Temp      222
Humidity      222
Cloudiness    222
Wind Speed    222
dtype: int64

In [60]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp    Lat     Lng Hotel Name
1               Kapaa      US     78.80  22.08 -159.32
2          Georgetown      MY     84.20   5.41  100.34
8              Bethel      US     82.99  41.37  -73.41
9               Wajir      KE     89.60   1.75   40.06
11       Ponta Do Sol      PT     84.20  32.67  -17.10
13             Faanui      PF     76.23 -16.48 -151.75
15             Bereda      ES     78.01  43.27   -7.54
16             Aitape      PG     77.70  -3.14  142.35
26             Pandan      PH     81.28  14.05  124.17
27  Excelsior Springs      US     80.01  39.34  -94.23